@font-face {
    font-family: "Cascadia";
    src: "/assets/CascadiaCode.ttf" format("ttf");
}

@font-face {
    font-family: "Ubuntu-Mono";
    src: url(/assets/UbuntuMono-Regular.woff) format('woff');
}
