@font-face {
    font-family: "Calibri";
    src: url(/assets/Calibri.woff) format('woff');
}

@font-face {
    font-family: "Ubuntu-Mono";
    src: url(/assets/UbuntuMono-Regular.woff) format('woff');
}
